#react-root .WBlUyLoP,
#react-root ._vewY-Vw,
#react-root ._1MFKGigQ {
	max-width: 800px !important;
}

/* reduce size of attached images when composing tweet */
._2h7OFurO,
._2h7OFurO .e-XpT8gn {
	width: auto !important;
}
._2h7OFurO {
	max-width: 50%;
	overflow: hidden;
}

/* push tweet actions to bottom of tweet container when content is short */
._2_w-kL22 {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* hide "your tweet was posted message" */
._1aaIXoeM.mqmxGGg7._3tixQkQf {
	display: none !important;
}

/* change loading spinner */
html div._7xnAHtWH._3tixQkQf {
	background: none;
	height: 27px;
	width: 27px;
	animation: loading 0.8s infinite linear;
	border: 2px solid #2AA2EF !important;
	border-right-color: transparent !important;
	border-radius: 50%;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
