#react-root .WBlUyLoP,
#react-root ._vewY-Vw,
#react-root ._1MFKGigQ {
	max-width: 800px !important;
}

/* reduce size of attached images when composing tweet */
._2h7OFurO,
._2h7OFurO .e-XpT8gn {
	width: auto !important;
}
._2h7OFurO {
	max-width: 50%;
	overflow: hidden;
}

/* push tweet actions to bottom of tweet container when content is short */
._2_w-kL22 {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* hide "your tweet was posted message" */
._1aaIXoeM.mqmxGGg7._3tixQkQf {
	display: none !important;
}

/* change loading spinner */
html div._7xnAHtWH._3tixQkQf {
	background: none;
	height: 27px;
	width: 27px;
	animation: loading 0.8s infinite linear;
	border: 2px solid #2AA2EF !important;
	border-right-color: transparent !important;
	border-radius: 50%;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* scale down the profile picture image in expanded mode and add a padding */
div._1qcaWNh-._1sp7Rzwo._3tixQkQf > img._1MjUlO8b._3uSDkk5s {
	box-sizing: border-box;
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
}

/* tweet links are spans in spans in spans */
._3ZFqFXW8 ._3EzK97M9 > span > span {
	color: #2AA2EF !important;
}

/* make "added to list" list name link consistent color */
._3ZDDth2l {
	color: inherit !important;
}

/* remove inconsistent underline on hovering "added to list" list name links */
._3ZDDth2l:hover,
/* remove inconsistent underline on hovering username links */
._2mYajcSS:hover ._2fjPhluv {
	color: inherit !important;
	text-decoration: none !important;
}
